@font-face {
  font-family: vasir-bold;
  src: url("../fonts/Vazir-Bold.eot") format("eot"),
    url("../fonts/Vazir-Bold.ttf") format("ttf"),
    url("../fonts/Vazir-Bold.woff") format("woff"),
    url("../fonts/Vazir-Bold.woff2") format("woff2");
  font-weight: bold;
  font-style: normal;
}
@font-face {
  font-family: vasir-medium;
  src: url("../fonts/Vazir-Medium.eot") format("eot"),
    url("../fonts/Vazir-Medium.ttf") format("ttf"),
    url("../fonts/Vazir-Medium.woff") format("woff"),
    url("../fonts/Vazir-Medium.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
}
a {
  text-decoration: none;
}
* {
  font-family: vasir-medium;
  direction: rtl;
}
header {
  font-family: vasir-bold;
  padding-right: 46px;
  margin-bottom: 46px;
}
nav.nav {
  padding-right: 59px;
}
ul.ulist li {
  list-style: square outside;
  /* padding-bottom: 3px; */
}
.ulist li a.item {
  font-size: 20px;
  line-height: 30px;
}
hr {
  width: 100%;
  border-top: 1px solid #9a9a9a;
}
summary {
  padding: 21px 46px 0 0;
  font-family: vasir-bold;
  font-size: 20px;
}
.image {
  width: 560px;
  height: 430px;
  margin-right: 30px;
}
